@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    /* linear-gradient(rgba(0,0,0,4),rgba(0,0,0,0.4)), */
    height: 100%;
    width: 100%;
    /* background-image: url("/background-img.jpg"); */
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    width: 315px;
    height: 400px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    /* box-shadow: 0 0 20px 9px #ff61241f; */
    /* box-shadow: 0 0 3pt 2pt red; */
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    /* to delete border, and background in side the border of  a button */
    background: transparent;
    border: 0;
    /* outlie similar to border, on some site said we should avoid making it none
    because it unables moving over site with tab button
    */
    /* outline: none; */
    position: relative;
}
button:focus{
    outline: none;
    box-shadow: 0 0 3pt 2pt red;
}


#btn{
    top: 0;
    left: 15px;
    position: absolute;
    width: 110px;
    margin-left: -14.5px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 5px;
    /* how to make element change in 0.5 seconds */
    transition: .5s;
}
.social-icons{
    margin: 30px auto;
    text-align: center;
}

.input-group {
    top: 100px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    /* outline: none; */
    background: transparent
}

.submit-btn{
    color:white;
    width: 50%;
    padding: 10px 30px;
    cursor: pointer;
    margin: auto;
    background: linear-gradient(to right, #0000FF , #99b2ff);
    border: 0;
    border-radius: 30px;
}
#login{
    left:50px;
}

#register{
    left: 50px;
}
#button > * {
    margin:5px;
}

.icon-password{
    display: flex;
    align-items: center;
    cursor: pointer;
}

i {
    margin: 0 5px;
    color: #868787;
}

.flag-pictures{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}