 *{
     margin: 0;
     padding: 0;
}

.hero {
    /* linear-gradient(rgba(0,0,0,4),rgba(0,0,0,0.4)), */
    height: 100%;
    width: 100%;
    background-image: url("/background-img.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    /* box-shadow: 0 0 20px 9px #ff61241f; */
    /* box-shadow: 0 0 3pt 2pt red; */

    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    /* to delete border, and background in side the border of  a button */
    background: transparent;
    border: 0;
    /* outlie similar to border, on some site said we should avoid making it none
    because it unables moving over site with tab button
    */
    /* outline: none; */
    position: relative;
}
button:focus{
    outline: none;
    box-shadow: 0 0 3pt 2pt red;
}


#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 5px;
    /* how to make element change in 0.5 seconds */
    transition: .5s;
}
.social-icons{
    margin: 30px auto;
    text-align: center;
}